.loading-spinner {
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    background-image: radial-gradient(rgb(217, 255, 0) 30%, transparent 40%, rgb(0, 4, 255) 50%);
    z-index: 9999;
}

.spinner{
    width: 100px;
    height: 100px;
    border: 8px dotted rgb(0, 4, 255);
    border-radius: 75%;
    animation: loadingSpinner 2.5s linear infinite;
}

@keyframes loadingSpinner {
    to {
        transform: rotate(360deg);
    }
}

input {
    text-align: center;
    background-color: var(--color-font);
    border: 1px solid var(--color-font);
    border-radius: var(--border-radius-small);
    padding: 8px 8px 8px 8px;
}

.input-loading-amount {
    width: 60px;
    color: var(--color-dark);
}

.input-search {
    color: var(--color-dark);
    width: 120px;
}

button {
    display: flex;
    align-items: center;
    background-color: rgba(241, 49, 49, 0.911);
    border: groove;
    border-radius: 0px 0px 16px 16px;
    cursor: pointer;
}

.btn-reverse {
    border-radius: var(--border-radius-small);
}

.btn-icon {
    padding: 0 8px;
    height: 40px;
    border-radius: var(--border-radius-small);
}

.btn-icon2 {
    font-family: "Luckiest Guy", cursive;
    color: rgb(255, 203, 5);
    -webkit-text-stroke: 1px rgb(0, 60, 255);
    text-shadow: 0px -4px 8px rgb(69, 168, 235);
    border-radius: var(--border-radius-small);
    padding: 0 8px;
    height: 36px;
}

.inner-btn {
    height: 30px;
}

.btn-load-more {
    font-family: "Luckiest Guy", cursive;
    color: rgb(255, 203, 5);
    -webkit-text-stroke: 1px rgb(0, 60, 255);
    text-shadow: 0px -4px 8px rgb(74, 118, 230);
    border-radius: var(--border-radius-small);
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    width: fit-content;
}

:focus-visible {
    outline: none;
}

a:hover,
a:focus-visible,
button:hover,
button:focus-visible,
.pokemon-card:hover,
.pokemon-card:focus-visible,
.pokemon-card>button>img:hover,
.pokemon-card>button>img:focus-visible {
    filter: drop-shadow(var(--shadow));
}

a:active,
button:active,
.pokemon-card:active,
.pokemon-card>button>img:active {
    filter: drop-shadow(var(--shadow-big));
}